<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>征订订单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/desk.css">
    <style>
        .container {
            padding-top: 40px;
            background-color: #fff;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <input v-model="driverCode" class="input-item" type="text" placeholder="司机编号">
        <input v-model="password" class="input-item" type="password" placeholder="查询密码">
        <input v-model="orderInId" class="input-item" type="password" placeholder="订单Id">
        <!--<div class="input-item" style="color: #757575">选择订单</div>-->
        <div class="input-item" style="color: #757575">
            选择图片
            <input id="img" class="input-file" type="file" placeholder="选择图片" @change="fileChange">
        </div>
        <button class="login-btn">确认</button>
    </div>
    <!--d81e06-->
    <!--<div class="choose-mask">
        <div class="choose-wrapper">
            <div class="choose-item">
                <img src="./img/icon_choose.png">
                大法师
            </div>
        </div>
    </div>-->
</div>
<script src="./assets/jquery-3.3.1.min.js"></script>
<script src="./assets/exif.js"></script>
<script src="./assets/vue.js"></script>
<script src="./assets/layer.js"></script>
<script src="./assets/better-scroll.js"></script>
<script src="js/desk.js"></script>
</body>
</html>